.videoContainer {
  position: relative;
  & video {
    transition: all 0.3s;
  }

  &:hover,
  &:focus-within {
    & video {
      transform: scale(1);
    }
    & .controls {
      opacity: 1;
      transform: translate(0px, 50px);
    }
  }
}
