.videoContainer {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-4);
  & video {
    transition: all 0.3s;
  }

  & button {
    transition: all 0.15s;
    opacity: 0.2;
    transform: scale(0.9);
    z-index: 3;
  }
  &:hover button {
    opacity: 1;
    transform: scale(1);
  }

  &:hover,
  &:focus-within {
    & video {
      transform: scale(1);
    }
    & .controls {
      opacity: 1;
      transform: translate(0px, 50px);
    }
  }
}

.fullscreenContainer:fullscreen {
  padding: var(--space-7);
}

.topControls {
  margin-bottom: var(--space-1);
}

.fullscreenContainer:fullscreen .topControls {
  display: none;
}
